@import 'tailwindcss';

@tailwind utilities;

@theme {
	--color-primary: #31465e;
	--color-secondary: #233243;
	--color-terciary: #e0e0e0;
	--color-button: #2a3c50;
	--color-success: #94c25b;
	--color-error: #a3293f;
	--color-color-text: #e8e6d4;
}

@layer components {
	.login-button {
		background-color: var(--color-button);
		width: calc(var(--spacing) * 72);
		height: calc(var(--spacing) * 16);
		transition: all;
		transition-timing-function: var(
			--tw-ease,
			var(--default-transition-timing-function)
				/* cubic-bezier(0.4, 0, 0.2, 1) */
		);
		transition-duration: 200ms;
		font-family: var(--font-inter);
		font-weight: 800;
		cursor: pointer;

		&:hover {
			background-color: var(--color-secondary);
		}
	}
}
