@import "tailwindcss";


@theme {
  --color-primary: #31465e;
  --color-secondary: #233243;
  --color-terciary: #e0e0e0;
  --color-buttoncolor: #2a3c50;
  --color-success: #94c25b;
  --color-fail: #a3293f;
  --font-kanit: "Kanit", sans-serif
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
} */
